* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top, #6e48aa, #9d50bb);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 28px 50px 28px 28px;
}

.navbar--title {
  margin: 0;
  font-family: "Poppins";
  font-size: 2em;
  letter-spacing: -0.02em;
  color: #fefedf;
  text-shadow: 2px 1px 0px rgba(0, 201, 167, 0.9);
}

.navbar--link {
  margin-left: 30px;
  font-size: 1.3em;
  font-weight: 300;
  color: #fff;
}
